*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


span{
  display: inline;
}
.container{
  height: 100vh;
  background-color: grey;
  display: flex;
}
p{
  margin: auto;
  display: inline-table;
}
