*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


span{
  display: inline;
  text-transform: capitalize;
  float: left;
}
.container{
  height: 100vh;
  background-color: grey;
  display: flex;
}
p{
  height: 50px;
  margin: auto;
  display:inline-block;
  background-color: #5ed8d2;
}
